

  
  aside {
    background-color: #316ec9;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 30%;
    z-index: 1;
  }

  label {
    display: inline-block;
    padding: 7px 10px;
    background-color: transparent;
    cursor: pointer;
    margin: 10px;
    z-index: 3;
    position: fixed;
  }
  

  
  .asideList {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 100px;
    text-align: center;
    border-top: 2px solid rgba(255, 255, 255, .7);
  }
  
  .asideAnchor {
    border-bottom: 2px solid rgba(255, 255, 255, .7);
    padding: 20px 0;
    display: block;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    position: relative;
    transition: color .3s .15s ease-in;
  }
  
  .asideAnchor::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    background-color: #fff;
    width: 0;
    transition: width .3s ease-in;
    z-index: -1;
  }
  
  .asideAnchor:hover {
    color: #0799d3;
  }
  
  .asideAnchor:hover::after {
    width: 100%;
  }
  
  
  
  