<body>
    <form [formGroup]="loginForm" (ngSubmit)="submitPost()">
        <label for="DateFrom">Date From</label>
        <input formControlName="DateFrom" type="date" placeholder="YYYY-MM-DD"/>
        <div class="error" *ngIf="
            loginForm.controls['DateFrom'].touched &&
            loginForm.controls['DateFrom'].invalid
          ">
          DateFrom not valid
        </div>

        <label for="DateTo">Date To</label>
        <input formControlName="DateTo" type="date" />
        <div class="error" *ngIf="
            loginForm.controls['DateTo'].touched &&
            loginForm.controls['DateTo'].invalid
          ">
          DateTo not valid
        </div>

        <label for="Publishers">Publishers</label>
        <input formControlName="Publishers" type="text" />
        <div class="error" *ngIf="
            loginForm.controls['Publishers'].touched &&
            loginForm.controls['Publishers'].invalid
          ">
          Publishers not valid
        </div>

        
        <label for="Tags">Tags</label>
        <input formControlName="Tags" type="text" />
        <div class="error" *ngIf="
            loginForm.controls['Tags'].touched &&
            loginForm.controls['Tags'].invalid
          ">
          Tags not valid
        </div>

        
        <label for="TagsUsers">Users</label>
        <input formControlName="TagsUsers" type="text" />
        <div class="error" *ngIf="
            loginForm.controls['TagsUsers'].touched &&
            loginForm.controls['TagsUsers'].invalid
          ">
          TagsUsers not valid
        </div>




        <div class="display-center">
            <button type="submit" class="btn" >
                Filter posts
            </button>
        </div>
    </form>
</body>