button {
    background: linear-gradient(
        to right,
        #2f90ffb2,
        #1d19f0a9
    );  
   border: 1px solid #1d19f0a9;
  border-radius: 10%;
  box-shadow: rgba(0, 10, 0, 10) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  line-height: 16px;
  padding: 20px 20px;
  font-family: 'Poppins',sans-serif;
  position: absolute;
  top: 5%;
  left: 5%;

}

button:hover{
    background: #3532f1;
}
button:active {
  background-position: 0 0;
  color: #3532f1;
  opacity: .5;

}