<div class="dialog-container">
  <div>
    <div class="post-dialog">

      <div class="container-commits">
        <h2>Commits</h2>
        <div class="text">
      <div class="card" *ngFor="let item of post.comments">
        <p>{{item.content}}</p>
      </div>
    </div>
    <button class="button-13" (click)="CommitClicked()">commit</button>

  </div>
  <input [(ngModel)]="text">
  <div class="container-details">
    <div>
      <img src="{{ post.imageSrc }}" alt="{{ post.description }}" />
    </div>
    <div>
      <h3>{{ post.description }}</h3>
      <i [ngClass]="{ bx: true, 'bx-heart': flag1, 'bxs-heart': flag2 }" (click)="likeClicked()"></i>

    </div>

  </div>
</div>

<button class="close"(click)="close()">X</button>
</div>
</div>