.dialog-container {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    top: 200px;
  }
  .post-dialog {
    width: 60vw;
    background-color: aliceblue;
  }
  img {
    width: 20%;
    max-height: 90vh;

  }
  .post-description {
    padding: 1em;
  }