<div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
  </div>
  <div >
      <form [formGroup]="changePassForm" (ngSubmit)="submitPost()">
        <div ><h2>
            Password recovery</h2></div>
            <label for="Name">Name</label>
            <input formControlName="Name" type="text"  />
            <div class="error" *ngIf="
            changePassForm.controls['Name'].touched &&
            changePassForm.controls['Name'].invalid
              ">  
              name not valid
            </div>
      
            <label for="Password">New Password</label>
            <input formControlName="Password" type="password" />
            <div class="error" *ngIf="
            changePassForm.controls['Password'].touched &&
            changePassForm.controls['Password'].invalid
              ">
              password not valid
            </div>
      
        <div class="display-center">
          <a [routerLink]="['/Login']">Login</a>
        </div>
        <div class="display-center">
          <button type="submit" class="btn" [disabled]="!changePassForm.valid">
            Send mail
          </button>
        </div>
      </form>
    </div>
    