<div class="display-center full-width">
    <form [formGroup]="signUpForm" (ngSubmit)="submitPost()">
      <div class="display-center"><h2>Sign Up</h2></div>
      <label for="Name">First Name</label>
      <input formControlName="Name" type="text" id="firstName" />
      <div
        class="error"
        *ngIf="signUpForm.controls['Name'].touched &&signUpForm.controls['Name'].invalid"
      >
        first name not valid
      </div>
      <label for="Password">Password</label>
      <input formControlName="Password" type="password" id="password" />
      <div
        class="error"
        *ngIf="
          signUpForm.controls['Password'].touched &&
          signUpForm.controls['Password'].invalid
        "
      >
        password not valid
      </div>
    
      <div class="display-center">
        <a [routerLink]="['/Login']">Login</a>
      </div>
      <div class="display-center">
        <button type="submit" class="btn" [disabled]="!signUpForm.valid">
          SignUp
        </button>
      </div>
    </form>
  </div>
  