.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 50%;

}
.object{
  position: fixed;
  width: 50%;
  box-sizing: border-box;
}
.map{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 30%;
  width: 70%;
  
}
.add-post{
  position: absolute;
  top: 82%;
  left: 93%;
}

.logout-button{
  position: absolute;
  top: 5%;
  left: 93%;
}
