<div class="display-center full-width">
    <form [formGroup]="loginForm" (ngSubmit)="submitPost()">
      <div class="display-center"><h2>Login</h2></div>
      <label for="Name">Name</label>
      <input formControlName="Name" type="text" id="firstName" />
      <div
        class="error"
        *ngIf="
          loginForm.controls['Name'].touched &&
          loginForm.controls['Name'].invalid
        "
      >

         Name not valid
        </div>

      <label for="Password">Password</label>
      <input formControlName="Password" type="password" id="password" />
      <div
        class="error"
        *ngIf="
          loginForm.controls['Password'].touched &&
          loginForm.controls['Password'].invalid
        "
      >
        password not valid
      </div>
      <div class="display-center">
        <a [routerLink]="['/SignUp']">SignUp</a>
      </div>
      <div class="display-center">
        <button type="submit" class="btn" [disabled]="!loginForm.valid">
          Login
        </button>
      </div>
    </form>
  </div>