<ac-map #map>
    <ac-layer
      *ngIf="posts$"
      acFor="let post of posts$"
      [context]="this"
      [debug]="true"
    >
      <ac-html-desc props="{position:post.location, show: true}">
        <ng-template let-post>
          <div class="map-post">
            <div>
              <img src="{{ post.imageSrc }}" />
            </div>
            <div class="post-description">{{ post.Description }}</div>
          </div>
        </ng-template>
      </ac-html-desc>
    </ac-layer>
  </ac-map>
