<ac-map #map>
    <ac-layer
      *ngIf="entities$"
      acFor="let entity of entities$"
      [context]="this"
      [debug]="true"
    >
      <ac-html-desc props="{position: entity.location, show: true}">
        <ng-template let-entity>
          <div class="map-post">
            <div>
              <img src="{{ entity.imageSrc }}" />
            </div>
            <div class="post-description">{{ entity.description }}</div>
          </div>
        </ng-template>
      </ac-html-desc>
    </ac-layer>
  </ac-map>