.map-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
  }
  .map-post {
    width: 5vw;
    background-color: aliceblue;
    cursor: pointer;
  }
  .post-description {
    padding: 0.5em;
  }
  img {
    width: 100%;
  }
