.card{
    margin: 20px 0 0 15px;
    flex-grow: 1; 
    width: 1000px;
    
}
.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1200px;
    overflow-y: scroll;
    height: 100%;
    width: 100%;

    
  }
 